body {
    color: #333333;
    background-color: #f3f3f3;
    counter-reset: figure;
}
header {
    font-size: 150%;
    padding: 20px;
    background-color: #7acbd2;
    clear: both;
}
h1, h2, p {
    margin: 0;
}
header h1 {
    margin-bottom: -0.5em;
}
main {
    background-color: #ffffff;
}
aside {
    margin: 20px 0 0 20px;
    padding: 20px;
    display: inline-block;
    background-color: #f3f3f3;
    line-height: 1.4em;
}
aside ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
p, dt, .figure, .gist {
    padding-top: 1em;
    line-height: 1.6em;
}
figcaption {
    font-style: italic;
    text-align: center;
    margin-top: 0.5em;
}
figcaption:before {
    counter-increment: figure;
    content: "Figure " counter(figure) ": ";
}
dd {
    line-height: 1.6em;
}
p a, aside a, dd a {
    color: #52959A;
    text-decoration: none;
}
p a:hover {
    text-decoration: underline;
}
section, .references {
    padding: 20px;
    max-width: 750px;
}
.references {
    margin-top: -2.5em;
}
.references p {
    text-indent: -1.2em;
    margin-left: 1.2em;
}
.pure-menu.pure-menu-horizontal>ul {
    display: inline;
}
footer {
    padding: 20px; 
    background-color: #f3f3f3;
}

@media (min-width: 48em) {
    .internal-links {
        float: left;
    }
    .external-links {
        float: right;
    }
}

@media (min-width: 72em) {
    aside {
        position: fixed;
        right: 20px;
    }
}