body {
    background-color: #f3f3f3;
    color: #333333;
    counter-reset: figure;
}
.hide {
    display: none;
}
.mark {
    margin-bottom: -0.1875em;
}
.choose-language {
    background-color: #f3f3f3;
}
header {
    background-color: #7acbd2;
    clear: both;
    font-size: 150%;
    padding: 20px;
}
h1, h2, p {
    margin: 0;
}
h3 {
    margin: 0;
    padding-top: 1em;
}
header h1 {
    margin-bottom: -0.5em;
}
main {
    background-color: #ffffff;
}
nav.toc {
    background-color: #f3f3f3;
    display: inline-block;
    line-height: 1.4em;
    margin: 20px 0 0 20px;
    padding: 20px;
}
nav.toc ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav.toc li ul {
    margin-left: 1.1em;
}
.download {
    font-size: 1.1em;
}
p, dt, .figure, .gist {
    line-height: 1.6em;
    padding-top: 1em;
}
table {
    margin-top: 1em;
}
th {
    text-align: center;
    vertical-align: middle;
}
td.right {
    text-align: right;
}
td.center {
    text-align: center;
}
figure {
    margin: 1.5em 0 1em;
}
.figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
figcaption {
    font-size: smaller;
    font-style: italic;
    margin-top: 0.5em;
    text-align: center;
}
code {
    font-style: normal;
}
.figure figcaption:before {
    content: "Figure " counter(figure) ": ";
    counter-increment: figure;
}
dd {
    line-height: 1.6em;
}
pre {
    border: 1px solid;
    padding: 1em;
}
p > code {
    background-color: #f3f3f3
}
blockquote {
    background-color: #f3f3f3;
    padding: 0 1em 1em;
}
p a, nav.toc a, dd a, li a {
    color: #2d6a6f;
}
nav.toc a, dd a {
    text-decoration: none;
}
p a:hover, dd a:hover, li a:hover {
    background-color: #2d6a6f;
    color: white;
    text-decoration: none;
}
.button {
    background-color: #7acbd2;
    border-radius: 0;
    color: #000;
    font-weight: bold;
    margin: 5px;
}
.button:hover {
    text-decoration: none;
}
section, .references {
    max-width: 815px;
    padding: 20px;
}
.references {
    margin-top: -2.5em;
}
.references p {
    margin-left: 1.2em;
    text-indent: -1.2em;
}
.screenshot {
    border: 1px solid #c1c1c1;
}
.left {
    float: left;
    margin-right: 20px;
}
.right {
    float: right;
    margin-left: 20px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.clear {
    clear: both;
}
.anchor {
    clear: both;
    margin-bottom: 1em;
}
footer {
    background-color: #f3f3f3;
    padding: 20px;
}
@media (min-width: 80em) {
    nav.toc {
        position: fixed;
        right: 20px;
    }
}
