body {
    background-color: #f3f3f3;
    color: #333333;
    counter-reset: figure;
    display: grid;
    font-family: sans-serif;
    grid-template-rows: auto auto auto 1fr auto;
    height: 100%;
    margin: 0;
    min-height: 100vh;
}
header {
    color: #ffffff;
    background-color: #336e9e;
    clear: both;
    font-size: 150%;
    padding: 1rem;
}
h1,
h2,
p {
    margin: 0;
}
h3 {
    margin: 0;
    padding-top: 1rem;
}
header h1 {
    margin-bottom: -0.5rem;
}
main {
    background-color: #ffffff;
}
a {
    color: #336e9e;
}
.menu-list a {
    color: #656464;
    display: block;
    padding: 1rem;
    text-decoration: none;
    white-space: nowrap;
}
.menu-selected a {
    color: #000000;
}
.toc a {
    color: #336e9e;
    text-decoration: none;
    white-space: nowrap;
}
.references a {
    word-break: break-all;
}
a:hover {
    color: #ffffff;
    background-color: #336e9e;
}
footer a:hover {
    background-color: #f3f3f3;
}
.menu-list a:hover {
    background-color: #f3f3f3;
    color: #336e9e;
}
.hide {
    display: none;
}
.mark {
    margin-bottom: -0.25rem;
}
.choose-language {
    background-color: #f3f3f3;
}
nav {
    background-color: #ffffff;
    overflow-x: auto;
}
nav::-webkit-scrollbar {
    display: none;
}
.menu-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.toc {
    background-color: #f3f3f3;
    display: inline-block;
    line-height: 1.4rem;
    margin: 20px 0 0 20px;
    padding: 20px;
}
.toc ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.toc li ul {
    margin-left: 1.1rem;
}
.download {
    font-size: 1.1rem;
}
p {
    line-height: 1.6rem;
    padding-top: 1rem;
}
table {
    margin-top: 1rem;
}
th {
    text-align: center;
    vertical-align: middle;
}
td.right {
    text-align: right;
}
td.center {
    text-align: center;
}
figure {
    margin: 1.5rem 0 1rem;
}
figure img {
    max-width: calc(100% - 16px);
    height: auto;
}
figcaption {
    font-size: smaller;
    font-style: italic;
    margin-top: 0.5rem;
    text-align: center;
}
code {
    font-style: normal;
    max-width: 10px;
}
pre {
    border: 1px solid;
    padding: 1rem;
    overflow-x: scroll;
    max-width: calc(100vw - 100px);
}
blockquote {
    background-color: #f3f3f3;
    padding: 0 1rem 1rem;
}
.button {
    background-color: #336e9e;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    margin: 1rem 0.5rem 0 0;
    padding: 0.5rem 1rem;
    text-decoration: none;
}
.button:hover {
    background: linear-gradient(#336e9e, #265378);
}
section {
    max-width: 50rem;
    padding: 1rem;
}
.references {
    margin-top: -2rem;
    max-width: 50rem;
    padding: 1rem;
}
.references p {
    margin-left: 1.2rem;
    text-indent: -1.2rem;
}
.screenshot {
    border: 1px solid #c1c1c1;
}
.left {
    float: left;
    margin-right: 20px;
}
.right {
    float: right;
    margin-left: 20px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.clear {
    clear: both;
}
.anchor {
    clear: both;
    margin-bottom: 1rem;
}
footer {
    background-color: #f3f3f3;
    padding: 20px;
}

@media (min-width: 72rem) {
    .toc {
        position: fixed;
        left: 52rem;
    }
}
