<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description"
          content="Un índice de definiciones de períodos para enlazar y vizualizar datos.">
    <meta name="viewport" content="width=device-width, initial-scale=0.95" />
    <title>PeriodO &ndash; $title$</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
  </head>
  <body>
    <nav class="choose-language">
      <ul class="menu-list">
        <li>
          <a href="$if(en)$ $en$ $else$ /en/ $endif$">English</a>
        </li>
      </ul>
    </nav>
    <nav>
      <ul class="menu-list">
        <li class="$if(home)$menu-selected$endif$">
          <a href="/es/">Descargar</a>
        </li>
        <li class="$if(guide)$menu-selected$endif$">
          <a href="/guide/">Guide</a>
        </li>
        <li class="$if(motivation)$menu-selected$endif$">
          <a href="/motivacion/">Motivación</a>
        </li>
        <li class="$if(technical-overview)$menu-selected$endif$">
          <a href="/resumen-tecnico/">Resumen técnico</a>
        </li>
        <li  class="$if(publications)$menu-selected$endif$">
          <a href="/publications/">Publications</a>
        </li>
        <li class="$if(contact)$menu-selected$endif$">
          <a href="/contact/">Contact</a>
        </li>
        <li class="$if(thanks)$menu-selected$endif$">
          <a href="/contributors/">Thanks</a>
        </li>
        <li>
          <a href="https://twitter.com/perio_do">
            §svg(mark, PeriodO tweeter account, tweeter-mark)§
          </a>
        </li>
        <li>
          <a href="https://github.com/periodo">
            §svg(mark, PeriodO repositories at GitHub, github-mark)§
          </a>
        </li>
      </ul>
    </nav>
    <header>
      <a href="/es/">
        <h1>
          §svg(logo, PeriodO, logo)§
        </h1>
      </a>
      <p>
        <span>Un índice de definiciones de</span>
        <span>períodos para enlazar</span>
        <span>y vizualizar datos.</span>
      </p>
    </header>

    <main>
      $if(toc)$
      <nav class="toc" role="navigation">
        $toc$
      </nav>
      $endif$
      $body$
    </main>

    <footer>
      <a href="http://www.neh.gov/">
        §svg(logo, National Endownment for the Humanities, neh-logo)§
      </a>
      <a style="float: right" href="http://www.imls.gov/">
        §svg(logo, Institute of Museum and Library Services, imls-logo)§
      </a>
    </footer>
  </body>
</html
