<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="A gazetteer of periods for linking and visualizing data.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PeriodO &ndash; $title$</title>
<!--[if lte IE 8]>
    <link rel="stylesheet" href="http://yui.yahooapis.com/combo?pure/0.6.0/base-min.css&pure/0.6.0/grids-min.css&pure/0.6.0/grids-responsive-old-ie-min.css&pure/0.6.0/menus-min.cs&pure/0.6.0/tables-min.css&pure/0.6.0/buttons-min.css">
<![endif]-->
<!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/combo?pure/0.6.0/base-min.css&pure/0.6.0/grids-min.css&pure/0.6.0/grids-responsive-min.css&pure/0.6.0/menus-min.css&pure/0.6.0/tables-min.css&pure/0.6.0/buttons-min.css" />
<!--<![endif]-->
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
  </head>
  <body>
    <main>

      <nav class="pure-menu pure-menu-horizontal pure-menu-scrollable">
        <ul class="pure-menu-list internal-links">
          <li class="pure-menu-item$if(home)$ pure-menu-selected$endif$"><a class="pure-menu-link" href="/">Download</a></li>
          <li class="pure-menu-item$if(guide)$ pure-menu-selected$endif$"><a class="pure-menu-link" href="/guide/">Guide</a></li>
          <li class="pure-menu-item$if(motivation)$ pure-menu-selected$endif$"><a class="pure-menu-link" href="/motivation/">Motivation</a></li>
          <li  class="pure-menu-item$if(technical-overview)$ pure-menu-selected$endif$"><a class="pure-menu-link" href="/technical-overview/">Technical overview</a></li>
          <li  class="pure-menu-item$if(publications)$ pure-menu-selected$endif$"><a class="pure-menu-link" href="/publications/">Publications</a></li>
          <li  class="pure-menu-item$if(workshops)$ pure-menu-selected$endif$"><a class="pure-menu-link" href="/2017-workshop/">Workshops</a></li>
          <li class="pure-menu-item$if(contact)$ pure-menu-selected$endif$"><a class="pure-menu-link" href="/contact/">Contact</a></li>
        </ul>

        <ul class="pure-menu-list external-links">
          <li class="pure-menu-item"><a class="pure-menu-link" href="https://twitter.com/perio_do">
§svg(mark, PeriodO tweeter account, tweeter-mark)§
</a></li>
          <li class="pure-menu-item"><a class="pure-menu-link" href="https://github.com/periodo">
§svg(mark, PeriodO repositories at GitHub, github-mark)§
</a></li>
        </ul>
      </nav>

      <header>
        <a href="/">
        <h1>
§svg(logo, PeriodO, logo)§
        </h1>
        </a>
        <p>A gazetteer of periods for linking and visualizing data.</p>
      </header>
      
      $if(toc)$
      <nav class="toc" role="navigation">
        $toc$
      </nav>
      $endif$

      $body$

      <footer>
      <a href="http://www.neh.gov/">
§svg(logo, National Endownment for the Humanities, neh-logo)§
      </a>
      <a style="float: right" href="http://www.imls.gov/">
§svg(logo, Institute of Museum and Library Services, imls-logo)§
      </a>
      </footer>
    </main>
  </body>
</html
