<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="A gazetteer of period assertions for linking and visualizing data.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PeriodO &ndash; $title$</title>
<!--[if lte IE 8]>
    <link rel="stylesheet" href="http://yui.yahooapis.com/combo?pure/0.5.0-rc-1/base-min.css&pure/0.5.0-rc-1/grids-min.css&pure/0.5.0-rc-1/grids-responsive-old-ie-min.css&pure/0.5.0-rc-1/menus-min.cs&pure/0.5.0-rc-1/tables-min.css">
<![endif]-->
<!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/combo?pure/0.5.0-rc-1/base-min.css&pure/0.5.0-rc-1/grids-min.css&pure/0.5.0-rc-1/grids-responsive-min.css&pure/0.5.0-rc-1/menus-min.css&pure/0.5.0-rc-1/tables-min.css" />
<!--<![endif]-->
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
  </head>
  <body>
    <main>

      <nav class="pure-menu pure-menu-open pure-menu-horizontal">
        <ul class="internal-links">
          <li $if(home)$ class="pure-menu-selected" $endif$><a href="/">Home</a></li>
          <li $if(narrative)$ class="pure-menu-selected" $endif$><a href="/narrative/">Narrative</a></li>
          <li $if(specs)$ class="pure-menu-selected" $endif$><a href="/specs/">Specifications</a></li>
          <li $if(contact)$ class="pure-menu-selected" $endif$><a href="/contact/">Contact</a></li>
        </ul>

        <ul class="external-links">
          <li><a href="https://twitter.com/perio_do">
§svg(mark, PeriodO tweeter account, tweeter-mark)§
</a></li>
          <li><a href="https://github.com/periodo">
§svg(mark, PeriodO repositories at GitHub, github-mark)§
</a></li>
        </ul>
      </nav>

      <header>
        <h1>
§svg(logo, PeriodO, logo)§
        </h1>
        <p>A gazetteer of period assertions for linking and visualizing data.</p>
      </header>
      
      $if(toc)$
      <nav class="toc" role="navigation">
        $toc$
      </nav>
      $endif$

      $body$

      <footer>
§svg(logo, National Endownment for the Humanities, neh-logo)§
      </footer>
    </main>
  </body>
</html
