<section><p><b>
$if(guide)$

This guide is for the newer version of the PeriodO client hosted
at <a href="https://client.perio.do/">https://client.perio.do/</a>.

If you are using the older version of the PeriodO client hosted
at <a href="https://test.perio.do/">https://test.perio.do/</a>,
see the <a href="/old-guide/">old guide</a>.

$else$

This guide is for the older version of the PeriodO client hosted
at <a href="https://test.perio.do/">https://test.perio.do/</a>.

If you are using the newer version of the PeriodO client hosted
at <a href="https://client.perio.do/">https://client.perio.do/</a>,
see the <a href="/guide/">new guide</a>.

$endif$
</b></p></section>

<nav class="toc" role="navigation">
<ul>
$for(sections)$
<li><a href="#$slug$">$title$</a></li>
$endfor$
</ul>
</nav>

<div>
  $for(sections)$
  <section>
    <h2 id="$slug$">$title$</h2>
    $body$
  </section>
  $endfor$
</div>
