<div><section class="download">
<p>
<span style="display: inline-block; margin-right: 10px">
<a href="http://n2t.net/ark:/99152/p0d.json" class="pure-button button">Descargar</a> las definiciones de períodos como JSON.
</span>
<span style="display: inline-block">
<a href="http://n2t.net/ark:/99152/p0" class="pure-button button">Usar</a> el buscador de períodos.
</span>
</p>
</section></div>
<div class="pure-g">
  $for(sections)$
  <div class="pure-u-1 pure-u-lg-1-3">
    <section>
      $body$
    </section>
  </div>
  $endfor$
</div>
